body {
    background-color:#333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
.back {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}
p {
    text-align: left;
    padding-left: 20px;
}
#moreprojects{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(43, 43, 43); 
    margin-top: 0px;
    text-decoration: wavy;
    width: 40%;
    height: 190px;
    position: relative;
    display: inline;
    float: right;
    right: 0px;
    top:0;
}
.More {
    background-color: rgb(43, 43, 43); 
    width: 49%;
    height: 33%;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    left: 0;
    margin: 0;
    border: #212121 solid 2px;
    border-left: #212121 solid 4px;
    border-right: #212121 solid 4px;
    color: antiquewhite;
}
.More .left{
    float: left;
}
.More .right{
    float: right;
}
#innerprojects {
    width:78.5%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
#title {
    background-color: rgb(37, 37, 37);
    border: 1px solid rgb(122, 122, 122);
    border-top: none;
    padding: 10px;
    padding-top: 30px;
    text-align-last: center;
    position: fixed;
    left: 50%;
    transform: translate(-40%, 0);
    width: 300px;
    height: 150px;
    transform: skew(-20deg);
    top: 45px;


}
#ProjectName{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 15px;
    text-decoration: wavy;
    z-index: 1;
}
#nav {
    background-color: rgb(37, 37, 37);
    border-bottom: 1px solid rgb(122, 122, 122);
    height: 45px;
    padding: 0 20px;
}
#ShortDescription{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(43, 43, 43); 
    text-align: center;
    margin-top: 0px;
    text-decoration: wavy;
    width: 55%;
    height: 190px;
    position: relative;
    float: left;
}
#innerDescription {
    font-size: 15px;
    font-weight: bold;
    color: antiquewhite; 
    text-align: center;
    margin-top: 0px;
    text-decoration: wavy;
    width: 87%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    background-color: rgb(37, 37, 37);


}
li {
    display: inline;
    margin: 0;
    align-self: center;
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    font-size: 20px;
    vertical-align: middle;
}
li a{
    float: left;
    display: block;
    margin: 0;
    text-align: center;
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 16px;
    top: 0%;
    border-left: 2px solid rgb(29, 29, 29);
}
li a:hover {
    background-color: #525252;
}
.hide {
    display: none;
}
.show {
    display: block;
    float: left;
    position: absolute;
}
a {
    text-decoration: underline;
    color: aliceblue;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(43, 43, 43);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #222111;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #212121;
  }